<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SportskiKlub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SportskiKlub.styles.css" asp-append-version="true" />

    <!--Moje dodano za mape-->
    <link rel="stylesheet" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
    <script src="https://js.api.here.com/v3/3.1/mapsjs-core.js"></script>
    <script type="text/javascript" src="https://js.api.here.com/v3/3.1/mapsjs-harp.js" charset="utf-8"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-service.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"></script>
    <script src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"></script>

    <script>
        var platform = new H.service.Platform({
            apikey: 'USg_ThZIvwShOTaLXyg6xqMthpymsjhpJrh_C9K74Ek' // Zamenite sa vašim stvarnim API ključem
        });

        var defaultLayers = platform.createDefaultLayers();

        var map = new H.Map(document.getElementById('map'),
            defaultLayers.vector.normal.map,
            {
                center: { lat: 43.9159, lng: 17.6791 },
                zoom: 6,
                pixelRatio: window.devicePixelRatio || 1
            }
        );
    </script>




</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">SportskiKlub</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Početna</a>
                        </li>
                        @if (User.IsInRole("Administrator") || User.IsInRole("Trener") || User.IsInRole("Clan"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Trening" asp-action="Index">Trening</a>
                            </li>
                        }
                            @if(User.IsInRole("Administrator") || User.IsInRole("Trener")){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Inventar" asp-action="Index">Inventar</a>
                        </li>
                            }
                            @if(User.IsInRole("Administrator")){
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Korisnik" asp-action="Index">Korisnik</a>
                        </li>
                            }
                        @if (User.IsInRole("Administrator") || User.IsInRole("Trener") || User.IsInRole("Clan"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Clanarina" asp-action="Index">Clanarina</a>
                            </li>
                        }
                       

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Galerija" asp-action="Index">Galerija</a>
                            </li>
                        
                        @if (User.IsInRole("Administrator") || User.IsInRole("Trener") || User.IsInRole("Clan"))
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Ocjena" asp-action="Index">Ocjena</a>
                            </li>
                        }
                        @if (User.IsInRole("Administrator") || User.IsInRole("Trener") || User.IsInRole("Clan"))
                        {

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Prisustvo" asp-action="Index">Prisustvo</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
